.todo {
  padding: 10px;
  background-color: #101010;
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.title {
  width: 100%;
}

.title form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.icon:hover {
  cursor: pointer;
}
